// FONT-SIZES
$font-size-default: 1.6rem;
$font-size-small: 2rem;
$font-size-medium: 4rem;
$font-size-large: 8rem;
$font-size-huge: 16rem;

// COLORS
$light-peach: #ffaf87;
$dark-pink: #fd7080;

$dark-grey: #4d4d4d;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// BREAKPOINTS
$small-screen: 600px;
$medium-screen: 768px;
$large-screen: 992px;
$xl-screen: 1200px;
$huge-screen: 1450px;
