@-webkit-keyframes moveInRight {
  0% {
    -webkit-transform: translateX(40rem);
            transform: translateX(40rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    -webkit-transform: translateX(40rem);
            transform: translateX(40rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 83%;
    float: right;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 83%;
    float: right;
  }
}

@-webkit-keyframes blink-caret {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes blink-caret {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@-webkit-keyframes moveInUp {
  0% {
    -webkit-transform: translate(0rem, 6rem);
            transform: translate(0rem, 6rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0rem, 5rem);
            transform: translate(0rem, 5rem);
    opacity: 1;
  }
}

@keyframes moveInUp {
  0% {
    -webkit-transform: translate(0rem, 6rem);
            transform: translate(0rem, 6rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0rem, 5rem);
            transform: translate(0rem, 5rem);
    opacity: 1;
  }
}

@-webkit-keyframes moveInUpBtn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes moveInUpBtn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Raleway, san-serif;
}

.primary-heading {
  font-size: 8rem;
  text-transform: uppercase;
}

.secondary-heading {
  font-size: 2rem;
  text-transform: uppercase;
}

.tertiary-heading {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.color-heading {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffaf87), to(#fd7080));
  background-image: linear-gradient(to right, #ffaf87, #fd7080);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  display: block;
}

.title-heading {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
}

.title-heading--color {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffaf87), to(#fd7080));
  background-image: linear-gradient(to right, #ffaf87, #fd7080);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  display: block;
}

.paragraph {
  font-size: 1.6rem;
}

.box-heading {
  font-size: 2rem;
  color: white;
  margin-top: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.margin-bottom-small {
  margin-bottom: 1rem;
}

.margin-bottom-medium {
  margin-bottom: 3rem;
}

.margin-bottom-large {
  margin-bottom: 6rem;
}

.header {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 175, 135, 0.7)), to(rgba(253, 112, 128, 0.7))), url(../images/laptop.jpg);
  background-image: linear-gradient(to right, rgba(255, 175, 135, 0.7), rgba(253, 112, 128, 0.7)), url(../images/laptop.jpg);
  background-position: 0 30%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  margin: 2.5rem;
  position: relative;
}

.header__logo-box {
  position: relative;
  padding-left: 4rem;
  padding-top: 2rem;
}

.header__logo {
  position: absolute;
  width: 8rem;
}

.header__logo:hover {
  cursor: pointer;
}

.header__text-box {
  color: white;
  position: absolute;
  right: 18rem;
  top: 20rem;
  text-transform: uppercase;
}

.header__primary {
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.header__secondary {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.5rem;
  float: right;
  border-right: 3px solid white;
  -webkit-animation: typing 3s steps(40, end) 1s, blink-caret 0.75s step-end infinite;
          animation: typing 3s steps(40, end) 1s, blink-caret 0.75s step-end infinite;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.header__line {
  outline: none;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  width: 100%;
  border: 2px solid white;
  -webkit-animation: moveInUp 1s ease-out 4s;
          animation: moveInUp 1s ease-out 4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.header__btn {
  margin-top: 8rem;
  margin-left: 16rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-animation: moveInUpBtn 1s ease-out 4s;
          animation: moveInUpBtn 1s ease-out 4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media only screen and (max-width: 992px) {
  .header__text-box {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media only screen and (max-width: 600px) {
  .header__text-box {
    margin: 0 auto;
  }
  .header__primary {
    font-size: 5.5rem;
    -webkit-animation: moveInRight 1s ease-out;
            animation: moveInRight 1s ease-out;
    text-align: center;
  }
  .header__secondary {
    -webkit-animation: none;
            animation: none;
    float: none;
    border-right: none;
    -webkit-animation: moveInLeft 1s ease-out;
            animation: moveInLeft 1s ease-out;
    letter-spacing: 0.25rem;
  }
  .header__line {
    display: none;
  }
  .header__btn {
    margin: 0 auto;
    margin-top: 1.5rem;
    left: 25%;
    -webkit-animation: moveInUpBtn 1s ease-out 1s;
            animation: moveInUpBtn 1s ease-out 1s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
}

.navbar {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.navbar__links {
  float: right;
  -webkit-transform: translate(-5rem, 2.5rem);
          transform: translate(-5rem, 2.5rem);
}

.navbar__link {
  display: inline;
}

.navbar__link a,
.navbar__link a:visited {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar__link a:hover {
  color: #fd7080;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.navbar__link:not(:last-child) {
  margin-right: 1.5rem;
}

.btn, .btn:visited, .btn:active {
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  padding: 1.5rem 2.5rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  display: inline-block;
  position: absolute;
}

.btn--pink {
  background-color: #fd7080;
  color: white;
  font-weight: 700;
  letter-spacing: 0.25rem;
}

.btn--pink:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
}

.btn--pink:active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5))), url(../images/notebook.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5)), url(../images/notebook.jpg);
  background-size: cover;
  background-position: top;
  padding: 15rem 0;
  padding-bottom: 20rem;
  text-align: center;
  margin: 2.5rem;
  margin-top: -3rem;
}

.about__information {
  width: 68rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2rem 8rem;
}

.about__shape {
  width: 15rem;
  height: 15rem;
  float: right;
  -webkit-transform: translate(2rem, 1rem);
          transform: translate(2rem, 1rem);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: relative;
  margin-bottom: 1rem;
}

.about__image {
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about__text {
  color: #4d4d4d;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .about {
    padding: 20rem 10rem;
  }
  .about__information {
    width: 80%;
    padding: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    padding: 20rem 5rem;
  }
  .about__information {
    width: 100%;
    padding: 2rem;
  }
  .about__shape {
    display: none;
  }
}

.skills__box {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 175, 135, 0.8)), to(rgba(253, 112, 128, 0.8)));
  background-image: linear-gradient(to right, rgba(255, 175, 135, 0.8), rgba(253, 112, 128, 0.8));
  padding: 2rem;
  margin-top: 20rem;
  height: 28rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  position: relative;
}

.skills__icons {
  margin-top: 3rem;
  cursor: pointer;
}

.icons {
  width: 6rem;
}

.icons__design {
  width: 7rem;
}

.icons__front {
  width: 5.5rem;
}

.icons__back {
  width: 6.5rem;
}

.icons__back--express {
  font-size: 2rem;
  margin: 2rem 0;
  display: inline-block;
  margin-right: 2rem;
}

@media only screen and (max-width: 1450px) {
  .skills .row .col-1-of-4 {
    position: relative;
    width: 30%;
  }
  .skills .row {
    translate: 17%;
  }
  .skills__box {
    height: 25rem;
  }
  .skills__box:nth-last-child(-n + 2) {
    -webkit-transform: translateY(-13rem);
            transform: translateY(-13rem);
  }
  .skills__icons {
    margin-top: 2.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .skills .row .col-1-of-4 {
    position: relative;
  }
  .skills__icons {
    margin-top: 2rem;
  }
  .skills .icons__front {
    width: 5rem;
  }
  .skills .icons__others {
    width: 5rem;
  }
}

@media only screen and (max-width: 992px) {
  .skills .row .col-1-of-4 {
    width: 36%;
  }
  .skills .row {
    translate: 5rem;
  }
  .skills .icons__design {
    width: 5rem;
  }
  .skills .icons__front, .skills .icons__others {
    width: 4.5rem;
  }
  .skills .icons__back {
    width: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .skills .row .col-1-of-4 {
    width: 65%;
  }
  .skills .row {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  .skills__box:not(:first-child) {
    -webkit-transform: translateY(-13rem);
            transform: translateY(-13rem);
  }
  .skills__box:nth-last-child(-n + 2) {
    -webkit-transform: translateY(-26rem);
            transform: translateY(-26rem);
  }
  .skills__box:last-child {
    -webkit-transform: translateY(-39rem);
            transform: translateY(-39rem);
  }
}

@media only screen and (max-width: 600px) {
  .skills .row {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.tooltip {
  background-color: rgba(255, 255, 255, 0.9);
  width: 28rem;
  padding: 0 2rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
  position: absolute;
}

.tooltip--photoshop, .tooltip--illustrator, .tooltip--express {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(-10.5rem, -19rem) scale(0.9);
          transform: translate(-10.5rem, -19rem) scale(0.9);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 5;
}

.tooltip--photoshop::after, .tooltip--illustrator::after, .tooltip--express::after {
  content: "";
  display: inline-block;
  -webkit-transform: translate(0rem, 3rem);
          transform: translate(0rem, 3rem);
  border: 1.5rem solid transparent;
  border-top-color: white;
}

.tooltip--gimp {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(-11rem, -16rem) scale(0.9);
          transform: translate(-11rem, -16rem) scale(0.9);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 5;
}

.tooltip--gimp::after {
  content: "";
  display: inline-block;
  -webkit-transform: translate(0rem, 3rem);
          transform: translate(0rem, 3rem);
  border: 1.5rem solid transparent;
  border-top-color: white;
}

.tooltip--html, .tooltip--bootstrap, .tooltip--jquery, .tooltip--node {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(-11rem, -19rem) scale(0.9);
          transform: translate(-11rem, -19rem) scale(0.9);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 5;
}

.tooltip--html::after, .tooltip--bootstrap::after, .tooltip--jquery::after, .tooltip--node::after {
  content: "";
  display: inline-block;
  -webkit-transform: translate(0rem, 3rem);
          transform: translate(0rem, 3rem);
  border: 1.5rem solid transparent;
  border-top-color: white;
}

.tooltip--css, .tooltip--js, .tooltip--react, .tooltip--redux, .tooltip--ruby, .tooltip--mongodb, .tooltip--heroku {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(-11rem, -21rem) scale(0.9);
          transform: translate(-11rem, -21rem) scale(0.9);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 5;
}

.tooltip--css::after, .tooltip--js::after, .tooltip--react::after, .tooltip--redux::after, .tooltip--ruby::after, .tooltip--mongodb::after, .tooltip--heroku::after {
  content: "";
  display: inline-block;
  -webkit-transform: translate(0rem, 3rem);
          transform: translate(0rem, 3rem);
  border: 1.5rem solid transparent;
  border-top-color: white;
}

.tooltip--mongoose {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(-4rem, -19rem) scale(0.9);
          transform: translate(-4rem, -19rem) scale(0.9);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 5;
}

.tooltip--mongoose::after {
  content: "";
  display: inline-block;
  -webkit-transform: translate(0rem, 3rem);
          transform: translate(0rem, 3rem);
  border: 1.5rem solid transparent;
  border-top-color: white;
}

.tooltip--express {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(-10.5rem, -19rem) scale(0.9);
          transform: translate(-10.5rem, -19rem) scale(0.9);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 5;
}

.tooltip--express::after {
  content: "";
  display: inline-block;
  -webkit-transform: translate(0rem, 3rem);
          transform: translate(0rem, 3rem);
  border: 1.5rem solid transparent;
  border-top-color: white;
}

.tooltip--rails, .tooltip--git, .tooltip--shopify, .tooltip--facebook, .tooltip--analytics, .tooltip--ads {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(-11rem, -21rem) scale(0.9);
          transform: translate(-11rem, -21rem) scale(0.9);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 5;
}

.tooltip--rails::after, .tooltip--git::after, .tooltip--shopify::after, .tooltip--facebook::after, .tooltip--analytics::after, .tooltip--ads::after {
  content: "";
  display: inline-block;
  -webkit-transform: translate(0rem, 3rem);
          transform: translate(0rem, 3rem);
  border: 1.5rem solid transparent;
  border-top-color: white;
}

.photoshop-info,
.illustrator-info,
.express-info {
  display: inline-block;
}

.photoshop-info:hover [class^="tooltip"],
.illustrator-info:hover [class^="tooltip"],
.express-info:hover [class^="tooltip"] {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-10.5rem, -19rem) scale(1.1);
          transform: translate(-10.5rem, -19rem) scale(1.1);
}

.gimp-info {
  display: inline-block;
}

.gimp-info:hover .tooltip--gimp {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-11rem, -16rem) scale(1.1);
          transform: translate(-11rem, -16rem) scale(1.1);
}

.mongoose-info:hover [class^="tooltip"] {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-4rem, -19rem) scale(1.1);
          transform: translate(-4rem, -19rem) scale(1.1);
}

.css-info,
.js-info,
.react-info,
.redux-info,
.ruby-info,
.mongodb-info,
.rails-info,
.git-info,
.ads-info,
.shopify-info,
.facebook-info,
.analytics-info {
  display: inline-block;
}

.css-info:hover [class^="tooltip"],
.js-info:hover [class^="tooltip"],
.react-info:hover [class^="tooltip"],
.redux-info:hover [class^="tooltip"],
.ruby-info:hover [class^="tooltip"],
.mongodb-info:hover [class^="tooltip"],
.rails-info:hover [class^="tooltip"],
.git-info:hover [class^="tooltip"],
.ads-info:hover [class^="tooltip"],
.shopify-info:hover [class^="tooltip"],
.facebook-info:hover [class^="tooltip"],
.analytics-info:hover [class^="tooltip"] {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-11rem, -21rem) scale(1.1);
          transform: translate(-11rem, -21rem) scale(1.1);
}

.html-info,
.bootstrap-info,
.jquery-info,
.node-info,
.heroku-info {
  display: inline-block;
}

.html-info:hover [class^="tooltip"],
.bootstrap-info:hover [class^="tooltip"],
.jquery-info:hover [class^="tooltip"],
.node-info:hover [class^="tooltip"],
.heroku-info:hover [class^="tooltip"] {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-11rem, -19rem) scale(1.1);
          transform: translate(-11rem, -19rem) scale(1.1);
}

.projects {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 175, 135, 0.5)), to(rgba(253, 112, 128, 0.5))), url(../images/code.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 175, 135, 0.5), rgba(253, 112, 128, 0.5)), url(../images/code.jpg);
  background-size: cover;
  background-position: top;
  padding: 15rem 0;
  padding-bottom: 80rem;
  text-align: center;
  margin: 2.5rem;
  margin-top: -3rem;
}

.card {
  background-color: white;
  height: 25rem;
  border-radius: 0.5rem;
  position: relative;
  height: 35rem;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.card__side {
  height: 35rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 2rem;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.card__side--front-1 {
  background-image: url(../images/wishlist.jpg);
}

.card__side--front-2 {
  background-image: url(../images/artbook.jpg);
}

.card__side--front-3 {
  background-image: url(../images/diary.jpg);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-3 {
  width: calc( ((100% - 2 * 6rem) / 3) * 2 + 6rem);
}
/*# sourceMappingURL=main.css.map */