.about {
	background-image: linear-gradient(rgba(white, 0.5)),
		url(../images/notebook.jpg);
	background-size: cover;
	background-position: top;
	padding: 20rem;
	padding-bottom: 30rem;
	text-align: center;
	margin: 2.5rem;
	margin-top: -3rem;

	&__information {
		width: 65rem;
		margin: 0 auto;
		background-color: rgba(white, 0.3);
		padding: 2rem 8rem;
	}

	&__shape {
		width: 15rem;
		height: 15rem;
		float: right;
		transform: translate(2rem, 1rem);
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		position: relative;
	}

	&__image {
		height: 100%;
		transition: all 0.5s;
	}

	&__text {
		color: $dark-grey;
		width: 100%;
	}
}
