.about {
	background-image: linear-gradient(rgba(white, 0.5)),
		url(../images/notebook.jpg);
	background-size: cover;
	background-position: top;
	padding: 15rem 0;
	padding-bottom: 20rem;
	text-align: center;
	margin: 2.5rem;
	margin-top: -3rem;

	&__information {
		width: 68rem;
		margin: 0 auto;
		background-color: rgba(white, 0.3);
		padding: 2rem 8rem;
	}

	&__shape {
		width: 15rem;
		height: 15rem;
		float: right;
		transform: translate(2rem, 1rem);
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		position: relative;
		margin-bottom: 1rem;
	}

	&__image {
		height: 100%;
		transition: all 0.5s;
	}

	&__text {
		color: $dark-grey;
		width: 100%;
	}
}

@media only screen and (max-width: $large-screen) {
	.about {
		padding: 20rem 10rem;

		&__information {
			width: 80%;
			padding: 3rem;
		}
	}
}

@media only screen and (max-width: $medium-screen) {
	.about {
		padding: 20rem 5rem;

		&__information {
			width: 100%;
			padding: 2rem;
		}

		&__shape {
			display: none;
		}
	}
}
