.about {
	background-color: pink;
	padding: 15rem;
	text-align: center;
	margin: 2.5rem;
	margin-top: -3rem;

	&__information {
		width: 50rem;
		margin: 0 auto;
	}

	&__shape {
		width: 15rem;
		height: 15rem;
		float: right;
		transform: translate(2rem, 1rem);
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		position: relative;
	}

	&__image {
		height: 100%;
		transition: all 0.5s;
	}

	&__text {
		color: black;
		width: 100%;
	}
}
