.header {
	background-image: linear-gradient(
			to right,
			rgba($light-peach, 0.7),
			rgba($dark-pink, 0.7)
		),
		url(../images/laptop.jpg);
	background-position: 0 30%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 75vh;
	margin: 2.5rem;
	position: relative;

	&_logo-box {
		position: relative;
		padding-left: 5rem;
		padding-top: 2rem;
	}

	&_logo {
		position: absolute;
		width: 8rem;

		&:hover {
			cursor: pointer;
		}
	}

	&_text-box {
		color: white;
		position: absolute;
		right: 18rem;
		top: 20rem;
		text-transform: uppercase;
	}

	&_primary {
		animation: moveInRight 1s ease-out;
	}

	&_secondary {
		overflow: hidden;
		white-space: nowrap;
		margin: 0 auto;
		letter-spacing: 0.5rem;
		float: right;
		border-right: 3px solid white;
		animation: typing 3.5s steps(40, end) 1s, blink-caret 0.75s step-end infinite;
		animation-fill-mode: backwards;
	}

	&_line {
		outline: none;
		transform: translateY(5rem);
		width: 100%;
		border: 2px solid white;
		animation: moveInUp 1s ease-out 4.5s;
		animation-fill-mode: backwards;
	}
}
