.navbar {
	color: white;
	padding: 2rem 5rem;
	font-size: $font-size-small;
	font-weight: 700;

	&__links {
		float: right;
	}

	&__link {
		display: inline;

		a,
		a:visited {
			color: white;
			text-decoration: none;
			transition: all 0.3s;
		}

		a:hover {
			color: $dark-pink;
		}

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}
