.navbar {
	color: white;
	font-size: $font-size-small;
	font-weight: 700;

	&__links {
		float: right;
		transform: translate(-3rem, 2.5rem);
	}

	&__link {
		display: inline;

		a,
		a:visited {
			color: white;
			text-decoration: none;
			transition: all 0.3s;
		}

		a:hover {
			color: $dark-pink;
			text-shadow: 1px 1px 5px rgba(black, 0.5);
		}

		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
}
