.projects {
	background-image: linear-gradient(
			to bottom,
			rgba($light-peach, 0.5),
			rgba($dark-pink, 0.5)
		),
		url(../images/code.jpg);
	background-size: cover;
	background-position: top;
	padding: 15rem 0;
	padding-bottom: 80rem;
	text-align: center;
	margin: 2.5rem;
	margin-top: -3rem;
}

.card {
	background-color: white;
	height: 25rem;
	border-radius: 0.5rem;
	position: relative;
	height: 35rem;
	box-shadow: 1px 1px 5px rgba(black, 0.3);
	transition: all 0.8s ease;

	&__side {
		height: 35rem;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 0.5rem;
		padding: 2rem;
		background-position: center;
		background-size: cover;
		overflow: hidden;

		&--front {
			&-1 {
				background-image: url(../images/wishlist.jpg);
			}

			&-2 {
				background-image: url(../images/artbook.jpg);
			}

			&-3 {
				background-image: url(../images/diary.jpg);
			}
		}
	}
}
