.projects {
	background-image: linear-gradient(
			to bottom,
			rgba($light-peach, 0.5),
			rgba($dark-pink, 0.5)
		),
		url(../images/code.jpg);
	background-size: cover;
	background-position: top;
	padding: 15rem 0;
	padding-bottom: 80rem;
	text-align: center;
	margin: 2.5rem;
	margin-top: -3rem;
}

.card {
	perspective: 150rem;
	-webkit-perspective: 150rem;
	height: 25rem;
	border-radius: 0.5rem;
	position: relative;
	height: 35rem;
	transition: all 0.8s ease;

	&__links {
		text-decoration: none;
		outline: none;

		&:not(:last-child) {
			margin-right: 1rem;
		}

		& img {
			margin-top: 1rem;
			width: 4rem;
		}
	}

	&__side {
		height: 35rem;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 0.5rem;
		padding: 2rem;
		background-position: center;
		background-size: cover;
		overflow: hidden;
		backface-visibility: hidden;
		transition: all 0.8s ease;
		box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

		&--front {
			&-1 {
				background-image: url(../images/wishlist.jpg);
			}

			&-2 {
				background-image: url(../images/artbook.jpg);
			}

			&-3 {
				background-image: url(../images/diary.jpg);
			}
			&-4 {
				background-image: url(../images/pomodoro.jpg);
			}
			&-5 {
				background-image: url(../images/calculator.jpg);
			}

			&-6 {
				background-image: url(../images/etchsketch.jpg);
			}
		}

		&--back {
			transform: rotateY(-180deg);

			&-1 {
				background-image: url(../images/wishlist2.jpg);
			}

			&-2 {
				background-image: url(../images/artbook2.jpg);
			}

			&-3 {
				background-image: url(../images/diary2.jpg);
			}
			&-4 {
				background-image: url(../images/pomodoro.jpg);
			}

			&-5 {
				background-image: url(../images/calculator.jpg);
			}

			&-6 {
				background-image: url(../images/etchsketch.jpg);
			}
		}
	}

	&__details {
		background-color: rgba(white, 0.8);
		padding: 0.5rem;
		border-radius: 0.5rem;
		margin-top: 1rem;

		&-5,
		&-6 {
			padding-bottom: 3rem;
		}
	}

	&__details {
		background-color: rgba(white, 0.8);
		padding: 0.5rem;
		border-radius: 0.5rem;
	}

	&:hover &__side--front {
		transform: rotateY(180deg);
	}

	&:hover &__side--back {
		// Back card is already flipped
		transform: rotateY(0); // Flips the card
	}
}

@media only screen and (max-width: $huge-screen) {
	.project-row {
		transform: translateX(6rem);
	}
	.project-row .col-1-of-3 {
		width: 30rem !important;
	}
}

@media only screen and (max-width: $xl-screen) {
	.project-row {
		width: 75% !important;
		transform: translateX(25%);
	}

	.project-row .col-1-of-3 {
		width: 48% !important;

		&:not(:last-child) {
			margin-bottom: $gutter-vertical;
		}
	}
}

@media only screen and (max-width: $medium-screen) {
	.project-row {
		transform: translateX(12%);
	}

	.project-row .col-1-of-3 {
		width: 80% !important;
	}
}

@media only screen and (max-width: $small-screen) {
	.project-row {
		transform: translateX(0);
	}
	.project-row .col-1-of-3 {
		width: 100% !important;
	}
}
