.skills {
	&__box {
		background-image: linear-gradient(
			to right,
			rgba($light-peach, 0.8),
			rgba($dark-pink, 0.8)
		);
		padding: 2rem;
		margin-top: 20rem;
		height: 28rem;
		border-radius: 0.5rem;
		box-shadow: 1px 1px 3px rgba(black, 0.3);
		position: relative;
	}

	&__icons {
		margin-top: 3rem;
		cursor: pointer;
	}
}

.icons {
	width: 6rem;

	&__design {
		width: 7rem;
	}

	&__front {
		width: 5.5rem;
	}

	&__back {
		width: 6.5rem;

		&--express {
			font-size: $font-size-small;
			margin: 2rem 0;
			display: inline-block;
			margin-right: 2rem;
		}
	}
}

@media only screen and (max-width: $huge-screen) {
	.skills .row .col-1-of-4 {
		position: relative;
		width: 30%;
	}

	.skills {
		.row {
			translate: 17%;
		}

		&__box {
			height: 25rem;

			&:nth-last-child(-n + 2) {
				transform: translateY(-13rem);
			}
		}

		&__icons {
			margin-top: 2.5rem;
		}
	}
}

@media only screen and (max-width: $xl-screen) {
	.skills .row .col-1-of-4 {
		position: relative;
	}

	.skills {
		&__icons {
			margin-top: 2rem;
		}

		.icons {
			&__front {
				width: 5rem;
			}
			&__others {
				width: 5rem;
			}
		}
	}
}

@media only screen and (max-width: $large-screen) {
	.skills .row .col-1-of-4 {
		width: 36%;
	}

	.skills {
		.row {
			translate: 5rem;
		}

		.icons {
			&__design {
				width: 5rem;
			}
			&__front,
			&__others {
				width: 4.5rem;
			}

			&__back {
				width: 6rem;
			}
		}
	}
}

@media only screen and (max-width: $medium-screen) {
	.skills .row .col-1-of-4 {
		width: 65%;
	}

	.skills {
		.row {
			transform: translateX(5rem);
		}
	}

	.skills {
		&__box {
			&:not(:first-child) {
				transform: translateY(-13rem);
			}

			&:nth-last-child(-n + 2) {
				transform: translateY(-26rem);
			}

			&:last-child {
				transform: translateY(-39rem);
			}
		}
	}
}

@media only screen and (max-width: $small-screen) {
	.skills {
		.row {
			transform: translateX(-2rem);
		}
	}
	.skills .row .col-1-of-4 {
		width: 80%;
	}
}
