.tooltip {
	background-color: white;
	width: 28rem;
	padding: 2rem;
	border-radius: 0.5rem;
	position: absolute;

	&--photoshop,
	&--illustrator {
		@include tooltip(-10.5rem, -20.5rem);
	}

	&--gimp {
		@include tooltip(-11rem, -18rem);
	}
}

.photoshop {
	display: inline-block;

	&:hover {
		.tooltip--photoshop {
			@include tooltip-animation(-10.5rem, -20.5rem);
		}
	}
}

.illustrator {
	display: inline-block;

	&:hover {
		.tooltip--illustrator {
			@include tooltip-animation(-11rem, -20.5rem);
		}
	}
}

.gimp {
	display: inline-block;

	&:hover {
		.tooltip--gimp {
			@include tooltip-animation(-11rem, -18rem);
		}
	}
}
