.tooltip {
	background-color: white;
	width: 28rem;
	padding: 2rem;
	border-radius: 0.5rem;
	position: absolute;

	&--photoshop,
	&--illustrator {
		visibility: hidden;
		opacity: 0;
		transform: translate(-8rem, -19rem) scale(0.9);
		transition: all 0.5s;
		transform-origin: bottom;
		z-index: 5;

		&::after {
			content: "";
			display: inline-block;
			transform: translate(-2rem, 5rem);
			border: 1.5rem solid transparent;
			border-top-color: white;
		}
	}
}

.photoshop {
	display: inline-block;

	&:hover {
		.tooltip--photoshop {
			visibility: visible;
			opacity: 1;
			transform: translate(-8rem, -19rem) scale(1.1);
		}
	}
}

.illustrator {
	display: inline-block;

	&:hover {
		.tooltip--illustrator {
			visibility: visible;
			opacity: 1;
			transform: translate(-8rem, -19rem) scale(1.1);
		}
	}
}
