.tooltip {
	background-color: rgba(white, 0.9);
	width: 28rem;
	padding: 0 2rem;
	padding-top: 2rem;

	border-radius: 0.5rem;
	position: absolute;

	&--photoshop,
	&--illustrator {
		@include tooltip(-10.5rem, -19rem);
	}

	&--gimp {
		@include tooltip(-11rem, -16rem);
	}

	&--html,
	&--bootstrap,
	&--jquery {
		@include tooltip(-11rem, -19rem);
	}

	&--css,
	&--js,
	&--react,
	&--redux,
	&--ruby {
		@include tooltip(-11rem, -21rem);
	}
}

.photoshop-info {
	display: inline-block;

	&:hover {
		.tooltip--photoshop {
			@include tooltip-animation(-10.5rem, -19rem);
		}
	}
}

.illustrator-info {
	display: inline-block;

	&:hover {
		.tooltip--illustrator {
			@include tooltip-animation(-10.5rem, -19rem);
		}
	}
}

.gimp-info {
	display: inline-block;

	&:hover {
		.tooltip--gimp {
			@include tooltip-animation(-11rem, -16rem);
		}
	}
}

.html-info {
	display: inline-block;
	&:hover {
		.tooltip--html {
			@include tooltip-animation(-11rem, -19rem);
		}
	}
}

.css-info {
	display: inline-block;

	&:hover {
		.tooltip--css {
			@include tooltip-animation(-11rem, -21rem);
		}
	}
}

.js-info {
	display: inline-block;

	&:hover {
		.tooltip--js {
			@include tooltip-animation(-11rem, -21rem);
		}
	}
}

.bootstrap-info {
	display: inline-block;

	&:hover {
		.tooltip--bootstrap {
			@include tooltip-animation(-11rem, -19rem);
		}
	}
}

.jquery-info {
	display: inline-block;

	&:hover {
		.tooltip--jquery {
			@include tooltip-animation(-11rem, -19rem);
		}
	}
}

.react-info {
	display: inline-block;

	&:hover {
		.tooltip--react {
			@include tooltip-animation(-11rem, -21rem);
		}
	}
}

.redux-info {
	display: inline-block;

	&:hover {
		.tooltip--redux {
			@include tooltip-animation(-11rem, -21rem);
		}
	}
}

.ruby-info {
	display: inline-block;

	&:hover {
		.tooltip--ruby {
			@include tooltip-animation(-11rem, -21rem);
		}
	}
}
