body {
	font-family: Raleway, san-serif;
}

.primary-heading {
	font-size: $font-size-large;
}

.secondary-heading {
	font-size: $font-size-small;
}

.title-heading {
	display: block;
	font-size: $font-size-medium;

	background-image: linear-gradient(to right, $light-peach, $dark-pink);
	display: inline-block; // Only occupies the space of the content
	background-clip: text;
	-webkit-background-clip: text; // Background gets clip to where the text is
	color: transparent; // Change text to transparent so we see the clip background
	letter-spacing: 2px;
	display: block;
}

.paragraph {
	font-size: $font-size-default;
}
